<section class="wrap">
  <h1>Connexion</h1>

  @if (error()) {
    <div class="error">{{ error() }}</div>
  }

  <form (ngSubmit)="submit()">
    <label>
      Email
      <input name="email" type="email" [(ngModel)]="email" required />
    </label>

    <label>
      Mot de passe
      <input name="password" type="password" [(ngModel)]="password" required />
    </label>

    <button class="btn" type="submit">Se connecter</button>
  </form>

  <p class="hint">
    Pas de compte ?
    <a routerLink="/register">Inscription</a>
  </p>
</section>
